* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

a {
    color: black;
    text-decoration: none;
}

.btn, .btn-dark, .btn-light {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem; 
}
  
.btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #eece1a;
    color: #000; 
}
  
.btn-dark {
    background: black;
    color: #fff; 
}
  
.btn-light {
    background: #c4c4c4;
    color: #333; 
}

.header {
    background-image: lightgray;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .1); 
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: white;
}

.header ul a {
    display: block;
    padding: 10px;
    border-right: 1px solid #aaa;
    text-decoration: none;
}

.header .logo {
    float: left;
    font-size: 2rem;
    padding: 5px 10px;
}

.header ul a:hover {
    background-color: slategray;
}

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header .menu-icon {
    padding: 20px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.header .menu-icon .nav-icon {
    background: darkgray;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}

.header .menu-icon .nav-icon:before {
    background: darkgray;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 5px;
    transition: all .2s ease-out;
}

.header .menu-icon .nav-icon:after {
    background: darkgray;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -5px;
    transition: all .2s ease-out;
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
} 

.projects {
    display: grid;
    grid-gap: 0.6rem;
    grid-template-columns: 1fr;
    padding: .6rem;
}

.projects img {
    width: 100%;
    border: 2px solid #000000;
}

.projects img:hover {
    opacity: .5;
    border-color: #024478;
    transition: all .5s ease-out;
}

/*Contact Style
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem; 
}
  
.boxes div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    transition: all 0.5s ease-out; 
}
  
.boxes div:hover {
    padding: 0.5rem 1.5rem;
    background: #eece1a;
    color: #000; 
}
  
.boxes div:hover span {
        color: #000; 
    }
Contact style END */ 


footer {
    display: flex;
    align-content: center;
    justify-content: end;
}


@media (min-width: 48em) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}