*{
    margin: 0;
    padding: 0;
    background-color: white;
}

header.img {
    background-size: auto;
}

a {
    text-decoration: none;
    color: black;
    opacity: 1;
    font-size: 1.5em;
    font-weight: 400;
    transition: 200ms;
}

a:hover {
    opacity: .5;
}

.phone {
    background-color: #36383F;
    border-radius: 40px;
    width: 300px;
    height: 600px;
    Display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 30px 50px 100px #85888C;
}
.content {
    border: 1px solid #36383F;
    border-radius: 20px;
    width: 94%;
    height: 91%;
    background-color: #F5F6FA;
    overflow: hidden;
}

nav {
    background-color: white;
    height: 65px;
}

ul {
    list-style-type: none;
}

header {
    display: grid;
}

body {

    display: grid;
}

footer {
    display: grid;
}